{% extends "base.html" %}
{% block page_heading %}Recipes{% endblock %}
{% load static %}

{% block top_bar_right_mobile %}
    {% if meal_id %}
        {% include "recipes/partials/add_to_meal_button_mobile.html" %}
    {% else %}
        <a href="{% url 'recipe_create' %}" class="btn btn-primary">
            New Recipe
        </a>
    {% endif %}
{% endblock %}

{% block content %}

<form id="filterForm">

    {{ filter_form.meal_id }}
    {{ filter_form.favorites }}
    {{ filter_form.edit }}
    {{ filter_form.search }}
    {{ filter_form.tags }}

</form>

{% include "recipes/partials/recipes_content.html" %}

<div id="tagsModalContainer" hx-swap-oob="true">
    {% include "recipes/partials/tag_modal.html" %}
</div>

<script src="{% static 'recipes/js/recipes.js' %}"></script>

{% endblock %}