{% extends 'base.html' %}

{% block header_buttons_desktop %}
    <a href="{% url 'nutrients' %}" class="btn btn-secondary">
        Cancel
    </a>
    <button type="submit" class="nutrientForm btn btn-primary">
        Save
    </button>
{% endblock %}

{% block top_bar_right_mobile %}
    <button type="submit" class="nutrientForm btn top-bar-button">
        Save
    </button>
{% endblock %}

{% block content %}
<div class="container">

    <form method="post" id="nutrientForm">
        {% csrf_token %}

        <p>
            {{ form.name.label_tag }}<br>
            {{ form.name }}
        </p>

        <p>
            {{ form.abbreviation.label_tag }}<br>
            {{ form.abbreviation }}
        </p>

        <p>
            {{ form.description.label_tag }}<br>
            {{ form.description }}
        </p>

        <h3>Display Options</h3>

        <p>{{ form.show_in_diary_total }} {{ form.show_in_diary_total.label }}</p>

        <p>{{ form.show_in_diary_meal }} {{ form.show_in_diary_meal.label }}</p>

        <p>{{ form.show_in_food_edit }} {{ form.show_in_food_edit.label }}</p>

        <p>{{ form.show_in_recipe }} {{ form.show_in_recipe.label }}</p>

        <p>{{ form.show_in_foods }} {{ form.show_in_foods.label }}</p>

        <p>{{ form.show_in_goal_edit }} {{ form.show_in_goal_edit.label }}</p>

        <p>{{ form.usda_nutrient_number }} {{ form.usda_nutrient_number.label }}</p>

    </form>
</div>
{% endblock %}