{% extends 'base.html' %}
{% block page_heading %}Units{% endblock %}

{% block top_bar_right_mobile %}
    <a href="{% url 'create_unit' %}" class="btn top-bar-button">
        New
    </a>
{% endblock %}

{% block content %}

<div class="mb-3 d-none d-md-block">
    <a href="{% url 'create_unit' %}" class="btn btn-primary">
        New unit
    </a>
</div>

<div class="container">

    {% if units_user %}
        User defined units:
        <ul>
        {% for unit in units_user %}
            <li style="margin-bottom: 10px; padding: 10px; border-bottom: 1px solid #eee;">
                <strong>{{ unit.name }}
                
                {% if unit.abbreviation %}
                    / {{ unit.abbreviation }}
                {% endif %}
                
                {% if unit.name_plural %}
                    / {{ unit.name_plural }}
                {% endif %}
                </strong>

                {% if unit.description %}
                    — {{ unit.description }}
                {% endif %}

                <span style="float: right;">
                    <a href="{% url 'edit_unit' unit.pk %}" style="color: blue; margin-right: 10px;">Edit</a>
                    <form method="post" action="{% url 'delete_unit' unit.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit"
                                style="color: red; background:none; border:none; padding:0; cursor:pointer;"
                                onclick="return confirm('Delete unit `{{ unit }}`?');">
                            Delete
                        </button>
                    </form>
                </span>
            </li>
        {% endfor %}
        </ul>
    
    <hr>
    {% endif %}
          
    {% if units_global %}

        {% for unit in units_global %}
            <li style="margin-bottom: 10px; padding: 10px; border-bottom: 1px solid #eee;">
                <strong>{{ unit.name }}
                
                {% if unit.abbreviation %}
                    / {{ unit.abbreviation }}
                {% endif %}
                
                {% if unit.name_plural %}
                    / {{ unit.name_plural }}
                {% endif %}
                </strong>

                {% if unit.description %}
                    — {{ unit.description }}
                {% endif %}
            </li>
        {% endfor %}
    
    {% else %}
        <p>No units available.</p>
    {% endif %}
</div>
{% endblock %}