{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>
        {% if script %}
            Edit Script
        {% else %}
            New Script
        {% endif %}
    </h1>
</div>

<form method="post">

    {% csrf_token %}

    <p>
        {{ form.name.label_tag }}
        {{ form.name }}
    </p>

    <p>
        {{ form.description.label_tag }}
        {{ form.description }}
    </p>

    <p>
        {{ form.lua_code.label_tag }}
        {{ form.lua_code }}
    </p>

    <button class="btn btn-primary" type="submit">
        Save Script
    </button>

</form>

{% endblock %}