{% extends "base.html" %}


{% load static %}


{% block content %}



<h2>
{{ recipe.name }}
</h2>



<form method="post">

{% csrf_token %}


{{ form.as_p }}


<button>
Save recipe
</button>


</form>



<hr>



<h3>
Ingredients
</h3>



<table
border="1"
cellpadding="5"
>

<tr>

<th>
Food
</th>

<th>
Servings
</th>

<th>
Range
</th>

<th>
Delete
</th>

</tr>



{% for ingredient in ingredients %}



<tr>


<td>

{{ ingredient.food.name }}

</td>


<td>


<span
id="amount-{{ ingredient.food.id }}"
>

{{ ingredient.default_servings }}

</span>


</td>


<td>


<input

type="range"

class="ingredient-slider"

data-food="{{ ingredient.food.id }}"

min="{{ ingredient.min_servings }}"

max="{{ ingredient.max_servings }}"

step="0.1"

value="{{ ingredient.default_servings }}"

>


</td>


<td>


<form

method="post"

action="{% url 'delete_recipe_ingredient' ingredient.id %}"

>


{% csrf_token %}


<button>
X
</button>


</form>


</td>


</tr>



{% endfor %}


</table>



<h3>
Add ingredient
</h3>


<form

method="post"

action="{% url 'add_recipe_ingredient' recipe.id %}"

>


{% csrf_token %}


{{ ingredient_form.as_p }}


<button>
Add food
</button>


</form>



<hr>



<h3>
Nutrition
</h3>



<table
border="1"
cellpadding="5"
>


{% for nutrient in visible_nutrients %}


<tr>

<td>

{{ nutrient.name }}

</td>


<td
id="nutrient-{{ nutrient.id }}"
>

0

</td>


</tr>


{% endfor %}


</table>



<hr>



<a href="{% url 'add_recipe_to_diary' recipe.id %}">

Add recipe to diary

</a>




{% load static %}


<div
id="nutrition-url"
data-url="{% url 'recipe_nutrition_ajax' recipe.id %}"
>
</div>


<script src="{% static 'recipes/recipe_editor.js' %}">
</script>



{% endblock %}