{% extends "base.html" %}


{% block content %}



<div class="page-header">
<h1>
Recipes
</h1>

    <a href="{% url 'recipe_create' %}" class="btn btn-primary">
        + New recipe
    </a>
</div>

<div
style="
display:grid;
grid-template-columns:repeat(auto-fill,200px);
gap:15px;
"
>


{% for recipe in recipes %}


<div
style="
border:1px solid #ddd;
padding:10px;
border-radius:8px;
"
>


{% if recipe.thumbnail_path %}

<img
src="{{ recipe.thumbnail_path }}"
width="170"
height="170"
style="
object-fit:cover;
border-radius:6px;
"
>

{% endif %}



<h3>
{{ recipe.name }}
</h3>


<p>
{{ recipe.portions }}
portions
</p>



<a href="{% url 'recipe_edit' recipe.id %}">
Edit
</a>



<form
method="post"
action="{% url 'recipe_delete' recipe.id %}"
>

{% csrf_token %}

<button
type="submit"
>
Delete
</button>

</form>



</div>


{% empty %}


<p>
No recipes yet.
</p>


{% endfor %}


</div>


{% endblock %}