<!-- recipes.html -->

{% extends "base.html" %}
{% block page_heading %}Recipes{% endblock %}
{% load static %}

{% block top_bar_right_mobile %}
    {% if meal_id %}
        {% include "recipes/partials/add_to_meal_button_mobile.html" %}
    {% else %}
        <a href="{% url 'recipe_create' %}" class="btn btn-primary">
            New Recipe
        </a>
    {% endif %}
{% endblock %}

{% block content %}

<div id="recipesContent">
    {% include "recipes/partials/recipes_content.html" %}
</div>

<script src="{% static 'recipes/js/recipes.js' %}"></script>

<div id="recipe-tag-selector-modal"></div>

{% endblock %}