<!-- recipes.html -->

{% extends "base.html" %}
{% block page_heading %}Recipes{% endblock %}
{% load static %}

{% block header_buttons_desktop %}
    <a href="{% url 'recipe_create' %}" class="btn btn-primary">
        + New recipe
    </a>
{% endblock %}

{% block top_bar_right_mobile %}
    <a href="{% url 'recipe_create' %}" class="btn">
        + New
    </a>
{% endblock %}

{% block content %}

{% if meal_name %}
    <div class="search-toolbar">
        <div class="add-button">
            <button
                id="addSelectedBtn"
                type="submit"
                form="recipeSelectionForm"
                disabled>
                Add to {{ meal_name }}
            </button>
        </div>
    </div>

    <form
        id="recipeSelectionForm"
        method="post"
        action="
        {% if meal_id %}
            {% url 'add_recipes_to_meal_direct' meal_id meal_name meal_date %}
        {% else %}
            {% url 'recipes' %} 
        {% endif %}
        "
    >
        {% csrf_token %}
{% endif %}


<div id="recipesContainer">

    {% for recipe in recipes %}
        {% include "recipes/partials/recipe_card.html" %}
    {% endfor %}
</div>



<script src="{% static 'recipes/js/recipes.js' %}"></script>


{% endblock %}