{% extends "base.html" %}
{% block page_heading %}Goals{% endblock %}

{% block header_buttons_desktop %}
    <a href="{% url 'goal_group_create' %}" class="btn btn-primary">
        + Add goals
    </a>
{% endblock %}

{% block top_bar_right_mobile %}
    <a href="{% url 'goal_group_create' %}" class="btn top-bar-button">
        + Add
    </a>
{% endblock %}

<!-- Main content -->
{% block content %}

{% for goal_group in goal_groups %}

<div>

    {{ goal_group.name }} -

    {{ goal_group.description}}

    {% if goal_group.start_date %}
        start: {{ goal_group.start_date}}
    {% endif %}
    {% if goal_group.end_date %}
        end: {{ goal_group.end_date}}
    {% endif %}

    <a href="{% url 'goal_group_edit' goal_group.id %}">[edit]</a>
    <a href="{% url 'goal_group_delete' goal_group.id %}">[delete]</a>

</div>

{% endfor %}


{% endblock %}