{% extends "base.html" %}

{% block page_heading %}Diary{% endblock %}

{% load diary_filters %}
{% load static %}

{% block header_buttons_desktop %}
    {% include "diary/components/diary_header_buttons.html" %}
{% endblock %}

{% block page_title %}Diary{% endblock %}


{% block content %}

{% include "diary/components/mobile_date_picker.html" %}


<div class="card shadow-sm border rounded-3 mb-3">
    <div class="card-body">
        {% include "diary/components/body_metrics.html" %}
    </div>
</div>


<div class="card shadow-sm border rounded-3 mb-3">
    <div class="card-body">
        {% include "diary/components/day_totals.html" %}
    </div>
</div>



{% for meal in meals %}

    {% include "diary/components/meal.html" with meal=meal %}

{% empty %}

    <div class="alert bg-body-tertiary border">
        No meals for this day.
    </div>

{% endfor %}



<script src="{% static 'diary/js/diary.js' %}"></script>
<script src="{% static 'diary/js/mobile_date_picker.js' %}"></script>


{% endblock %}