<!-- diary.html -->

{% extends "base.html" %}
{% load diary_filters %}
{% load static %}

{% block page_title %}Diary{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'diary/css/diary.css' %}">

{% include "diary/components/diary_header_desktop.html" %}
{% include "diary/components/mobile_date_picker.html" %}

<div class="card">
    {% include "diary/components/body_metrics.html" %}
</div>

<div class="card">
    {% include "diary/components/day_totals.html" %}
</div>

{% for meal in meals %}
    {% include "diary/components/meal.html" with meal=meal%}
{% empty %}
    <p>No meals for this day.</p>
{% endfor %}

<div class="card">
    {% include "diary/components/add_meal.html" %}
</div>

<script src="{% static 'diary/js/diary.js' %}"></script>

{% endblock %}