{% extends "base.html" %}
{% block page_heading %}Foods{% endblock %}
{% load static %}

{% block header_buttons_desktop %}
<a href="{% url 'create_food' %}" class="btn btn-primary">
    + New Food
</a>
{% endblock %}

{% block top_bar_right_mobile %}
<a href="{% url 'create_food' %}" class="btn top-bar-button">
    + New Food
</a>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'shared/css/search_bar.css' %}">

<div class="food-toolbar">

    {% if meal_name or recipe_name %}
    <div class="add-button">

        <button
            id="addSelectedBtn"
            type="submit"
            form="foodSelectionForm"
            class="btn btn-primary px-4"
            disabled>

            {% if meal_id %}
                Add to {{ meal_name }}
            {% elif recipe_name %}
                Add to {{ recipe_name }}
            {% endif %}
        </button>

    </div>
    {% endif %}

    <div class="flex-grow-1">

        {% include "foods/partials/search_bar.html" %}
    </div>

</div>

{% if foods %}

    {% for food in foods %}
        {% if food.source != "local" %}
        <form
            id="import-food-{{ food.fdc_id }}"
            method="post"
            action="{% url 'import_usda_food' food.fdc_id %}"
            class="d-none">
            {% csrf_token %}
        </form>
        {% endif %}
    {% endfor %}

    <form
        id="foodSelectionForm"
        method="post"
        action="
        {% if meal_id %}
            {% url 'add_foods_to_meal_direct' meal_id meal_name meal_date %}
        {% elif recipe_id %}
            {% url 'add_foods_to_recipe_direct' recipe_id %}
        {% else %}
            {% url 'select_meal' %}
        {% endif %}
        "
    >
        {% csrf_token %}

        <div id="foodsContainer">

            {% for food in foods %}
                {% include "foods/partials/food_card.html" %}
            {% endfor %}

        </div>

    </form>

{% else %}

    <div class="text-center py-5 text-muted">
        No foods found.
    </div>

{% endif %}

<script src="{% static 'foods/js/food.js' %}"></script>
<script src="{% static 'shared/js/search_bar.js' %}"></script>

{% endblock %}