{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'foods/css/food.css' %}">
<link rel="stylesheet" href="{% static 'shared/css/search_bar.css' %}">

<div class="container">

    <div class="page-header">

        <h1>Foods</h1>

        <div class="header-actions">
            <a href="{% url 'create_food' %}" class="btn btn-primary">
                + New Food
            </a>
        </div>

    </div>

    {% if foods %}

    <div class="food-toolbar">

        <div class="add-button">

            <button
                id="addSelectedBtn"
                type="submit"
                form="foodSelectionForm"
                disabled>

                {% if meal_id %}
                    Add to {{ meal_name }}
                {% elif recipe_name %}
                    Add to {{ recipe_name }}
                {% else %}
                    Add
                {% endif %}

            </button>

        </div>

        {% include "components/search_bar.html" with form_id="foodSearchForm" input_id="foodSearch" placeholder="Search foods..." query=user_food_search_query filters_template="foods/partials/food_search_filters.html" selected_sort=sort sort_options=food_sort_options hidden_fields=search_hidden_fields %}

    </div>

    {% for food in foods %}
        {% if food.source != "local" %}
            <form
                id="import-food-{{ food.fdc_id }}"
                method="post"
                action="{% url 'import_usda_food' food.fdc_id %}"
                style="display:none;"
            >
                {% csrf_token %}
            </form>
        {% endif %}
    {% endfor %}

    <form
        id="foodSelectionForm"
        method="post"
        action="
        {% if meal_id %}
            {% url 'add_foods_to_meal_direct' meal_id meal_name meal_date %}
        {% elif recipe_id %}
            {% url 'add_foods_to_recipe_direct' recipe_id %}
        {% else %}
            {% url 'select_meal' %}
        {% endif %}
        "
    >
    {% csrf_token %}

    <div id="foodsContainer">

        {% for food in foods %}
            {% include "foods/partials/food_card.html" %}
        {% endfor %}

    </div>

    </form>

    {% else %}

        <p>No foods found.</p>

    {% endif %}

</div>

<script src="{% static 'foods/js/food.js' %}"></script>
<script src="{% static 'shared/js/search_bar.js' %}"></script>

{% endblock %}