<!-- action_bar.html -->

<div class="row g-2 mb-3">

    {% if meal_name %}

        <div class="col-12 col-md-auto d-none d-md-block">
            <a href="{% url 'diary_day' meal_date %}" class="btn btn-secondary">
                Back
            </a>
        </div>

        <div class="col-12 col-md-auto d-none d-md-block">
            {% include "recipes/partials/add_to_meal_button.html" %}
        </div>

    {% else %}

        <div class="col-12 col-md-auto d-none d-md-block">
            <a href="{% url 'recipe_create' %}" class="btn btn-primary">
                New recipe
            </a>
        </div>

    {% endif %}

    <div class="col-12 col-md">
        <input
            type="search"
            class="form-control"
            name="search"
            placeholder="{% if number_of_recipes <= 1 %}Not much to search through...{% else %}Search {{ number_of_recipes }} recipes...{% endif %}"
            value="{{ search }}"
            hx-get="{% url 'recipes' %}"
            hx-trigger="keyup changed delay:300ms, search"
            hx-target="#recipesContent"
            hx-swap="outerHTML"
            hx-push-url="true">
    </div>

    <div class="col-12 col-md-auto">
        <div class="d-flex flex-column gap-2">
            <div class="row g-2">
                <div class="col-auto">
                    {% include "recipes/partials/action_bar/favorite_button.html" %}
                </div>

                <div class="col">
                    {% include "recipes/partials/action_bar/sorting_method.html" %}
                </div>

                <div class="col-auto">
                    {% include "recipes/partials/action_bar/edit_mode_button.html" %}
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center gap-2 position-relative">

        <button
            class="btn btn-outline-secondary btn-sm"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#tagsModal"
        >
            Tags
        </button>

        <div>
            {% include "recipes/partials/action_bar/tag_selection.html" %}
        </div>
    </div>

</div>