<!-- action_bar.html -->

<form class="row g-2 mb-3">

    {% if meal_name %}

        <div class="col-12 col-md-auto d-none d-md-block">
            <a href="{% url 'diary_day' meal_date %}" class="btn btn-secondary">
                Back
            </a>
        </div>

        <div class="col-12 col-md-auto d-none d-md-block">
            {% include "recipes/partials/add_to_meal_button.html" %}
        </div>
    {% else %}
        <div class="col-12 col-md-auto d-none d-md-block">
            <a href="{% url 'recipe_create' %}" class="btn btn-primary">
                New recipe
            </a>
        </div>
    {% endif %}

    <div class="col-12 col-md">
        <input
            type="search"
            class="form-control"
            name="search"
            placeholder="Search recipes..."
            value="{{ search }}"
            hx-get="{% url 'recipes' %}"
            hx-include="closest form"
            hx-trigger="keyup changed delay:300ms, search"
            hx-target="#recipesContainer"
            hx-swap="outerHTML">
    </div>

    <div class="col-12 col-md-auto">
        <div class="row g-2">

            <div class="col">
                {% include "recipes/partials/searchbar_sorting_methods.html" %}
            </div>

            <div class="dropdown col-auto">
                {% include "recipes/partials/searchbar_tag_dropdown.html" %}
            </div>

        </div>
    </div>

</form>