<div
    id="recipeTagSelectorModal"
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Recipe tags
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>
            </div>

            {% csrf_token %}

            <div class="modal-body">

                <div id="tag-list">
                    {% include "recipes/partials/tag_list.html" %}
                </div>

                <hr>

                <div class="input-group mt-3">

                    <input
                        id="new-tag-input"
                        class="form-control"
                        name="name"
                        placeholder="New tag"
                    >

                    <button
                        class="btn btn-outline-primary"
                        type="button"
                        hx-post="{% url 'recipe_tag_create' %}"
                        hx-include="[name='name']"
                        hx-vals='{"recipe_id":"{{ recipe.id }}"}'
                        hx-target="#tag-list"
                        hx-swap="innerHTML"
                        hx-on::after-request="
                            document.getElementById('new-tag-input').value='';
                            htmx.trigger('#searchbar-tag-dropdown', 'refreshTags');
                        "
                    >
                        Add
                    </button>

                </div>

            </div>

        </div>
    </div>
</div>

<script>
(() => {
    const modalEl = document.getElementById("recipeTagSelectorModal");
    const modal = new bootstrap.Modal(modalEl);

    modalEl.addEventListener("hidden.bs.modal", () => {
        document.getElementById("recipe-tag-selector-modal").innerHTML = "";
    });

    modal.show();
})();
</script>