{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>
        {% if automation %}
            Edit Automation
        {% else %}
            New Automation
        {% endif %}
    </h1>
</div>

<form method="post">

    {% csrf_token %}

    <p>
        {{ form.name.label_tag }}
        {{ form.name }}
    </p>

    <p>
        {{ form.deautomationion.label_tag }}
        {{ form.deautomationion }}
    </p>

    <p>
        {{ form.lua_code.label_tag }}
        {{ form.lua_code }}
    </p>

    <button class="btn btn-primary" type="submit">
        Save Automation
    </button>

</form>

{% endblock %}