{% extends "base.html" %}

{% block content %}

<div class="page-header-desktop">
    <h1>
        {% if automation %}
            Edit Automation
        {% else %}
            New Automation
        {% endif %}
    </h1>
    <div class="header-actions">
        <a href="{% url 'automations' %}" class="btn btn-secondary">
            Back to Automations
        </a>
        <button class="btn btn-primary" type="submit" form="script-form">
            Save Automation
        </button>
    </div>
</div>

<form method="post" id="script-form">

    {% csrf_token %}

    <p>
        {{ form.name.label_tag }}
        {{ form.name }}
    </p>

    <p>
        {{ form.deautomationion.label_tag }}
        {{ form.deautomationion }}
    </p>

    <p>
        {{ form.lua_code.label_tag }}
        {{ form.lua_code }}
    </p>
</form>

{% endblock %}