{% extends 'base.html' %}
{% block page_heading %}Edit default Meal{% endblock %}

{% block header_buttons_desktop %}
    <a href="{% url 'default_meals' %}" class="btn btn-secondary">
        Cancel
    </a>
   <button type="submit" class="mealForm btn btn-primary">
        Save
    </button>
{% endblock %}

{% block top_bar_right_mobile %}
    <button type="submit" class="mealForm btn top-bar-button">
        Save
    </button>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% if default_meal %}Edit Default Meal{% else %}New Default Meal{% endif %}</h1>
    <form method="post" id="mealForm">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>
{% endblock %}