html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Content */

#content {
    margin-left: 160px;
    margin-top: 48px;
    height: calc(100vh - 48px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
}

body.sidebar-collapsed #content {
    margin-left: 0;
}

/* Responsive */

@media (max-width: 700px) {

    #content,
    body.sidebar-collapsed #content {
        margin-left: 0;
        width: 100%;
    }

    .header-actions {
        width: 100%;
        flex-direction: column;
    }

    .btn {
        justify-content: center;
    }

    .actions {
        margin-top: 10px;
    }

    .food-header {
        flex-direction: column;
    }
}