.offcanvas {
    --sidebar-width: 320px;
    width: var(--sidebar-width);
    touch-action: none;

    transition:
        transform 0.28s cubic-bezier(0.22, 1, 0.36, 1);
}

.offcanvas.dragging {
    transition: none !important;
}