{% extends 'base.html' %}

{% block page_heading %}Body Metric Edit{% endblock %}

{% block top_bar_right_mobile %}
    <button type="submit" class="bodyMetricForm btn top-bar-button">
        Save
    </button>
{% endblock %}

{% block content %}

<div class="mb-3 d-none d-md-block">
    <a href="{% url 'body_metrics' %}" class="btn btn-secondary">
        Cancel
    </a>
   <button type="submit" class="bodyMetricForm btn btn-primary">
        Save
    </button>
</div>

<div class="container">
    <form method="post" id="bodyMetricForm">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>
{% endblock %}