<div id="meal-plan-title">

    <form
        hx-post="{% url 'meal_plan_rename' meal_plan.pk %}"
        hx-target="#meal-plan-title"
        hx-swap="outerHTML">

        {% csrf_token %}

        <input
            type="text"
            name="name"
            value="{{ meal_plan.name }}"
            autofocus
            class="form-control shadow-none bg-transparent fs-4 fw-normal px-0 py-0 border-0"
            onblur="this.form.requestSubmit();"
            onkeydown="
                if(event.key==='Enter'){
                    event.preventDefault();
                    this.form.requestSubmit();
                }

                if(event.key==='Escape'){
                    event.preventDefault();
                    htmx.ajax('GET', '{% url 'meal_plan_title' meal_plan.pk %}', {
                        target:'#meal-plan-title',
                        swap:'outerHTML'
                    });
                }
            ">

    </form>

</div>