<div
    class="food-card food-item py-2 border-bottom"
    data-name="{{ food.name|lower }}"
    data-description="{{ food.description|lower }}"
>

    <div class="food-header d-flex justify-content-between align-items-start gap-2 flex-nowrap">

        <div class="food-left d-flex align-items-start gap-2 flex-grow-1">

            {% if meal_name or recipe_name %}
                <input
                    type="checkbox"
                    class="food-checkbox form-check-input mt-1"
                    name="foods"
                    value="{{ food.id }}"
                >
            {% endif %}

            <div class="food-info flex-grow-1">

                <div class="food-name fw-semibold fs-6 text-body">
                    {{ food.name }}
                </div>

                {% if food.brand %}
                <div class="food-brand text-body-secondary small">
                    {{ food.brand }}
                </div>
                {% endif %}

                <div class="serving text-body-secondary small mt-1">
                    Portion: {{ food.serving|floatformat:"-1" }} {{ food.unit }}
                </div>

            </div>

        </div>


        <div class="actions d-flex flex-nowrap gap-1 flex-shrink-0">

            {% if food.source == "local" %}

                <div id="favorite-button">
                    {% include "foods/partials/favorite_button.html" %}
                </div>

                <div id="tag-button">
                    {% include "foods/partials/tag_button.html" %}
                </div>

                <a
                    href="{% url 'food_edit' food.id %}"
                    class="btn btn-outline-primary btn-sm"
                    title="Edit"
                >
                    <i class="bi bi-pencil"></i>
                </a>

                <form>
                    {% csrf_token %}
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-danger"
                        hx-post="{% url 'food_delete' food.id %}"
                        hx-target="#food-{{ food.id }}"
                        hx-swap="outerHTML"
                        hx-confirm="Are you sure you want to delete this food? This action cannot be undone.">
                        <i class="bi bi-trash"></i>
                        Delete
                    </button>
                </form>

            {% else %}

                <button
                    type="submit"
                    form="import-food-{{ food.fdc_id }}"
                    class="btn btn-primary btn-sm"
                >
                    Import
                </button>

            {% endif %}
        </div>
    </div>

    <div class="nutrients-row  {% if meal_name or recipe_name %}ms-4{% endif %}">

        {% for n in food.nutrients %}

        <span
            class="nutrient-chip badge rounded-pill bg-body-tertiary border text-body d-inline-flex align-items-center gap-1 px-2 py-1">

            <span class="nutrient-label text-body-secondary">
                {{ n.abbr|default:n.name }}
            </span>

            <span class="nutrient-value fw-semibold text-body">
                {% with v=n.value|floatformat:0 %}
                    {% if v|slice:"-3:" == ".00" %}
                        {{ n.value|floatformat:0 }}
                    {% else %}
                        {{ v }}
                    {% endif %}
                {% endwith %}
            </span>

        </span>

        {% endfor %}

    </div>

</div>