<div
    class="food-card food-item"
    data-name="{{ food.name|lower }}"
    data-description="{{ food.description|lower }}"
>

    <div class="food-header">

        <div class="food-left">

            <input
                type="checkbox"
                class="food-checkbox"
                name="foods"
                value="{{ food.id }}"
            >

            <div class="food-info">

                <div class="food-name">
                    {{ food.name }}
                </div>

                {% if food.brand %}
                <div class="food-brand">
                    {{ food.brand }}
                </div>
                {% endif %}

                <div class="serving">
                    Portion: {{ food.serving|floatformat:"-1" }} {{ food.unit }}
                </div>

                <div class="nutrients-row">
                    {% for n in food.nutrients %}
                    <div class="nutrient-chip">

                        <span class="nutrient-label">
                            {{ n.abbr|default:n.name }}
                        </span>

                        <span class="nutrient-value">
                            {% with v=n.value|floatformat:0 %}
                                {% if v|slice:"-3:" == ".00" %}
                                    {{ n.value|floatformat:0 }}
                                {% else %}
                                    {{ v }}
                                {% endif %}
                            {% endwith %}
                        </span>

                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>

        <div class="actions">

            {% if food.source == "local" %}

                <a href="{% url 'food_toggle_favorite' food.id %}" class="action-btn edit-btn">
                    {% if food.is_favorite %}
                    ★
                    {% else %}
                    ☆
                    {% endif %}
                </a>
                <a href="{% url 'edit_food' food.id %}" class="action-btn edit-btn">
                    Edit
                </a>

                <a href="{% url 'delete_food' food.id %}" class="action-btn delete-btn">
                    Delete
                </a>

            {% else %}

                <button
                    type="submit"
                    form="import-food-{{ food.fdc_id }}"
                    class="action-btn edit-btn"
                >
                    Import
                </button>

            {% endif %}

        </div>

    </div>

</div>