<form
    method="{{ method|default:'get' }}"
    id="{{ form_id }}"
    action="{{ action|default:'' }}"
    class="flex-grow-1"
>

    {% csrf_token %}

    {% for hidden in hidden_fields %}
        <input
            type="hidden"
            name="{{ hidden.name }}"
            value="{{ hidden.value }}"
        >
    {% endfor %}

    <div class="d-flex gap-2 align-items-center w-100 flex-wrap">

        <div class="flex-grow-1">
            <input
                id="{{ input_id }}"
                type="text"
                name="{{ query_name|default:'q' }}"
                value="{{ query }}"
                placeholder="{{ placeholder|default:'Search...' }}"
                autocomplete="off"
                class="form-control"
            >
        </div>

        <div class="flex-shrink-0">
            <select
                name="{{ sort_name|default:'sort' }}"
                id="{{ sort_id|default:'sortSelect' }}"
                class="form-select"
            >

                <option value="last_used" {% if selected_sort == "last_used" %}selected{% endif %}>
                    Last used
                </option>

                <option value="last_added" {% if selected_sort == "last_added" %}selected{% endif %}>
                    Last added
                </option>

                <option value="name" {% if selected_sort == "name" %}selected{% endif %}>
                    Name
                </option>

            </select>
        </div>

        <div class="flex-shrink-0">
            <button
                type="submit"
                class="btn btn-secondary"
            >
                Search
            </button>
        </div>

    </div>

    {% if filters_template %}
    <div class="mt-2 w-100">
        {% include filters_template %}
    </div>
    {% endif %}

</form>