{% load diary_filters %}


<h6 class="fw-bold mb-2">
    Body metrics
</h6>


<div class="row g-2">


    {% for metric in body_metrics %}


    <div class="col-12 col-sm-6 col-lg-4">


        <div class="d-flex justify-content-between align-items-center bg-body-tertiary border rounded-3 p-2">


            <label class="small fw-semibold text-body-secondary mb-0">

                {{ metric.name }}

            </label>



            <input
                type="number"
                step="any"
                value="{{ log_map|get_item:metric.id|default:'' }}"
                data-metric-id="{{ metric.id }}"
                class="form-control form-control-sm text-end"
                style="width:80px"
                oninput="saveMetric(this)"
            >


        </div>


    </div>


    {% endfor %}


</div>