{% load diary_filters %}


<h6 class="fw-bold mb-2">
    Day total
</h6>


<div class="table-responsive">


    <table class="table table-sm align-middle mb-0">


        <thead class="bg-body-tertiary">


            <tr>

                <th></th>


                {% for nutrient in nutrients_total %}

                <th class="text-center text-nowrap small text-secondary text-uppercase">

                    {% if nutrient.abbreviation %}
                        {{ nutrient.abbreviation }}
                    {% else %}
                        {{ nutrient.name }}
                    {% endif %}

                </th>

                {% endfor %}


            </tr>


        </thead>



        <tbody>



            <tr class="fw-semibold">


                <td>
                    Total
                </td>


                {% for nutrient in nutrients_total %}

                <td
                    class="text-center"
                    data-nutrient="{{ nutrient.id }}">

                    {{ day_total|get_item:nutrient.id|default:"0" }}
                    {{ nutrient.unit }}

                </td>


                {% endfor %}


            </tr>





            {% if goal_nutrients %}


            <tr class="text-secondary">


                <td>
                    Goal
                </td>



                {% for nutrient in nutrients_total %}


                <td
                    class="text-center"
                    data-nutrient="{{ nutrient.id }}">

                    {{ goal_nutrients|get_item:nutrient.id|default:"-" }}
                    {{ nutrient.unit }}


                </td>


                {% endfor %}


            </tr>


            {% endif %}



        </tbody>


    </table>


</div>