<div id="meal-plan-{{ meal_plan.id }}" class="card">
    <h3>{{ meal_plan.name }} </h3>

    <p>{{ meal_plan.description }}</p>

    <a href="{% url 'meal_plan_edit' meal_plan.id %}">
        Edit
    </a>

    <form
        hx-post="{% url 'meal_plan_delete' meal_plan.id %}"
        hx-target="#meal-plan-{{ meal_plan.id }}"
        hx-swap="delete"
        hx-confirm="Are you sure you want to delete '{{ meal_plan.name }}'?"
    >
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</div>