{% extends 'base.html' %}
{% block page_heading %}Edit Unit{% endblock %}

{% block header_buttons_desktop %}
    <a href="{% url 'units' %}" class="btn btn-secondary">
        Cancel
    </a>
    <button type="submit" form="unitForm" class="btn btn-primary">
        Save
    </button>
{% endblock %}

{% block top_bar_right_mobile %}
    <button type="submit" form="unitForm" class="btn top-bar-button">
        Save
    </button>
{% endblock %}

{% block content %}

<div class="container">
    <form method="post" id="unitForm">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }}
                </label>

                <div class="form-input">
                    {{ field }}

                    {% if field.help_text %}
                        <div class="form-help">{{ field.help_text }}</div>
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="form-error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </form>

</div>
{% endblock %}