{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="page-header-desktop">
        <h1>{% if unit %}Edit unit '{{unit}}'{% else %}New Unit{% endif %}</h1>

        <div class="header-actions">
            <a href="{% url 'units' %}" class="btn btn-secondary">
                Cancel
            </a>
            <button type="submit" form="unitForm" class="btn btn-primary">
                Save
            </button>
        </div>
    </div>

    <form method="post" id="unitForm">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }}
                </label>

                <div class="form-input">
                    {{ field }}

                    {% if field.help_text %}
                        <div class="form-help">{{ field.help_text }}</div>
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="form-error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </form>

</div>
{% endblock %}